<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Username Matcher</title>
</head>

<body>
    <h1>Username Finder</h1>

    <form method="POST">
        <input type="text" name="username" placeholder="Enter username" value="{{ input_username }}">
        <button type="submit">Search</button>
    </form>

    {% if matches %}
    <h2>Top Matches : </h2>
    <ul>
        {% for match in matches %}
        <li>
            {{ match.employee_name }} (ID: {{ match.emp_id }}) - Score: {{ match.score | round(2) }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No matches found with score above threshold.</p>
    {% endif %}

    {% if top_matches %}
    <h2>Possible Other 5 Matches : </h2>
    <ul>
        {% for match in top_matches %}
        <li>
            {{ match.employee_name }} (ID: {{ match.emp_id }}) - Score: {{ match.score | round(2) }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>